{% extends "partials/base.html" %}
{% block pagetitle %}Novo Ambiente{% endblock %}
{% block pageheading %}Novo Ambiente{% endblock pageheading %}
{% block row %}
<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4 border-bottom-primary">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Adicione uma descrição para o ambiente</h6>
            </div>
            <form class="user" method="POST">
                <div class="card-body">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-sm-12 mb-3 mb-sm-0">
                            <label for="environmentDescription">Descrição:</label>
                            <input type="text" class="form-control form-control-user" id="environmentDescription" name="description" placeholder="Descrição">
                        </div>
                    </div>
                    {% if form.description.errors %}
                        <small class="text-danger">{{ form.description.errors }}</small>
                    {% endif %}
                </div>
                <div class="card-footer text-right">
                    <button type="button" class="btn btn-secondary">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock row %}
