{% extends "partials/base.html" %}
{% block pagetitle %}Remover Câmera{% endblock %}
{% block pageheading %}Remover Câmera{% endblock pageheading %}
{% block row %}
<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4 border-bottom-danger">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Remover</h6>
            </div>
            <form class="user" method="POST">
                <div class="card-body">
                    {% csrf_token %}
                    Você tem certeza que quer remover a câmera "<span class="font-weight-bold text-primary">{{ camera.description }}</span>"? Esta ação é irreversível, por favor, confirme se deseja prosseguir.
                </div>
                <div class="card-footer text-right">
                    <a href="{% url 'environment_list' %}" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-danger">Sim, eu tenho certeza</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock row %}
